@font-face {
  font-family: "Typewriter Regular";
  src: url("../../static/fonts/typewriter/typewcond_regular.otf");
}

body {
  font-family: Typewriter Regular;
  background-color: white;
  margin: 0;
}
